.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.border {
  border-bottom: 1px solid var(--primary-grey-light);
}

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  justify-self: flex-end;
}

.menu,
.user {
  display: flex;
  align-items: center;
}

.menu li,
.user li {
  padding: 1rem;
}

.menu li a,
.user li a {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--grey-dark);
}

.mobile_btn {
  display: none;
}

.gb_desktop {
  font-weight: bolder;
  margin-right: 2.5rem;
}

.gb_desktop a {
  color: var(--primary-dark);
}

.gb_mobile {
  display: none;
}

.alex {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--primary-cyan-dark);
}

.signout {
  color: var(--primary-dark);
  font-weight: 700;
}

@media screen and (max-width: 720px) {
  .mobile_btn {
    position: absolute;
    display: block;
    top: 1rem;
    cursor: pointer;
  }

  .navbar {
    justify-self: center;
  }
  .gb_mobile {
    display: block;
    margin: auto;
  }

  .gb_desktop {
    display: none;
  }

  .signout {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    bottom: 0;
    right: 0;
    top: 70px;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-grey-light);
    transition: left 0.5s;
  }

  .active {
    left: 0;
  }
}