@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-cyan-dark: #2b788b;
  --primary-cyan-light: #c3dce3;
  --primary-pink-dark: #945069;
  --primary-pink-light: #f2d4dc;
  --primary-dark: #000;
  --primary-grey-light: #f6f5f4;
  --grey-dark: #585858;
  --primary-grey-icon: #bababa;
  
}


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  
  font-family: 'Dela Gothic One', cursive;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 0.8rem 1rem;
  border-radius: 50px;
  border: 0;
  background-color: var(--primary-cyan-light);
  color: var(--primary-cyan-dark);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}
